.familyPhoto{
	position: absolute;
	margin-left: 25%;
	border-width: 10px;
	border-color: lightblue;
	border-style: solid;
	border-radius: 15%;
}

.fencingPhoto{
	position: absolute;
	margin-left: 25%;
	margin-top: 15%;
	border-style: solid;
	border-color: lightblue;
	border-width: 10px;
	border-radius: 10%;
}

.aboutMeText{
	position: relative;
	height: 40%;
	width: 30%;
	margin-left: 45%;
	margin-top: 15%;
	font-family: 'Kalam', cursive;
	font-size: 18px;
	background-color: slategray;
	border-style: solid;
	border-color: slategray;
	border-width: 10px;
	border-radius: 5%;
}

.linkList {
	background-color: lightblue;
	border-color: beige;
	border-radius: 10%;
	position: absolute;
	width: 10%;
	height: 20%;
	margin-left: 2%;
}

.links {
	font-size: 16px;
	font-family: 'Kalam', cursive;
}